# API & General
BASE_URL=https://your-api-url.com
BUCKET_URL=https://project.cloudfront.net
CDN_URL=https://your-cdn-url.cloudfront.net
PERSONA_KEY=your_persona_key
VONAGE_APP_ID=your_vonage_app_id
VONAGE_API_KEY=your_vonage_api_key
GOOGLE_MAPS_API_KEY=your_google_maps_key

# Stripe
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_PUBLISH_KEY=your_stripe_publish_key

# Firebase Configuration
FIREBASE_PROJECT_NUMBER=your_firebase_project_number
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket

FIREBASE_ANDROID_APP_ID=your_firebase_android_app_id
FIREBASE_ANDROID_API_KEY=your_firebase_android_api_key
FIREBASE_ANDROID_PACKAGE_NAME=com.speakwideinterpreter

FIREBASE_IOS_APP_ID=your_firebase_ios_app_id
FIREBASE_IOS_API_KEY=your_firebase_ios_api_key
FIREBASE_IOS_BUNDLE_ID=com.speakwideinterpreter.app
